services:
  django-app:
    build:
      context: .
      dockerfile: dockerfiles/app/Dockerfile
    ports:
      - 8004:8004
    networks:
      - app-network
    depends_on:
      - db
    volumes:
      - .:/app
  db:
    image: postgres:17-alpine
    ports: 
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg-data:/var/lib/postgresql/data  
  # redis:
  # celery:
  # flower:
networks:
  app-network:
volumes:
  pg-data: